@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/MavenPro.woff2") format('woff2');
}


@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/SourceCodePro-Regular.ttf");
}

h1, h2, h3, h4, h5, h6, th {
    letter-spacing: -1px;
    font-family: 'Source Code Pro', sans-serif;
}

* {
    font-family: 'Maven Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #2e475d;
    padding-top: 57px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

svg {
    fill: #2e475d;
}

a,
.nav-link {
    text-decoration: none;
    color: #2e475d;
}

.nav-link {
    font-weight: 400;
}

.hna {
    background-color: #FF5757;
    color: #fff;
    border-radius: 50px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border: none;
    text-align: center;
    transition: all 1s ease;
}

.qwer2 {
    background-color: #ff575760;
    transition: all 0.5s ease;
}

.active {
    color: #FF5757 !important;
    font-weight: 600;
    transition: all 1s ease;
}

.active:hover {
    color: #fff !important;
    font-weight: 600;
    transition: all 1s ease;
}

.hna:hover {
    background: rgba(0, 0, 0, 0.9);
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

nav .nav-item:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, .5);
    transition: all 1s ease;
    border-radius: 50px;
    border: none;
}

nav {
    padding: 15px !important;
    background-color: transparent;
    transition: all 0.5s ease;
}

.offcanvas {
    color: #fff;
    background: rgba(33, 37, 41, 0.801);
    transition: all 0.5s ease;
}

.icon,
.text {
    vertical-align: middle;
    display: inline-block;
}

.sec {
    display: none;
}

@media (min-width:420px) {
    .sec {
        display: inline-block;
    }
}

.btn-primary {
    background-color: #ff5757a8;
    border-color: #FF5757;
    color: #fff;
}

.btn-outline-primary {
    background-color: #FF575725;
    border-color: #FF5757;
    color: #FF5757;
}

.btn-primary:hover {
    background-color: #FF575725;
    border-color: #FF5757;
    color: #FF5757;
}

.btn-outline-primary:hover {
    background-color: #FF5757;
    border-color: #FF5757;
    color: #fff;
}

@media (max-width:1080px) {


    .anh {
        background-color: #fff;
        color: #FF5757;
        border-radius: 5px;
        padding-left: 25px !important;
        padding-right: 25px !important;
        margin-top: 20px !important;
        border: none;
        text-align: center;
        transition: all 1s ease;
    }

    .anh:hover {
        background: rgba(0, 0, 0, 0.9);
    }

    hr {
        margin-left: 20% !important;
        margin-right: 20% !important;
        color: #ffffffc5;
    }

    footer {
        padding-top: 15% !important;
        padding-bottom: 8% !important;
    }
}

.offers {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2%;
}

.offer-sec {
    margin: 1%;
    border: none;
}

footer {
    box-shadow: 0 0 5em #4286f460;
    background: #fff;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.sidebar {
    margin-right: 10px;
}

#qwe {
    background-image: url("/hamburger.svg");
    background-size: 100%;
    background-position: center center;
    width: 20px;
    height: 20px;
    display: flex;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#qwe111 {
    border: none;
}

.menu {
    list-style-type: none;
    text-align: left;
}

.menuitem {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin-left: -9% !important;
    border-radius: 7px;
    border: none;
    transition: all 0.5s ease;
}

.menuitem:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.menuitem a {
    color: #fff !important;
}

.dropdown-toggle {
    padding: 0px;
}

.offcanvas-header {
    height: 180px;
    background: url("/backgrounds/a1.jpg") no-repeat;
    background-size: cover;
    align-items: flex-start;
}

.first {
    background-color: transparent !important;
}

.mb-3 {
    padding: 5%;
    margin-bottom: 0 !important;
    border: none;
}

.col-md-6 {
    padding: 20px;
}

.lux {
    margin-top: 8%;
    background-color: #fff;
    padding: 5%;
}

.ppct1 {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ppct:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, .2);
}

.offcanvas-title {
    padding-right: 8px;
    padding-left: 8px;
    color: #484848;
    transition: all 0.5s ease;
}

.offcanvas-title:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
    transition: all 0.5s ease;
}

.offcanvas-body {
    padding: 0;
    margin-top: 20%;
}

.asd {
    border: none;
    margin: 3px;
    transition: all 0.5s ease;
}

.asd:hover {
    box-shadow: 0 0 5em rgba(0, 0, 0, .2);
    transition: all 0.5s ease;
}

.navbar-brand1 {
    color: #2e475d;
}

.card-body {
    padding: 5%;
}

.scrolled-up-tr {
    background-color: transparent !important;
    box-shadow: none !important;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transform: translateY(0);
    background-color: #ff575731;
    box-shadow: 0 0 5em #ff575731;
    transition: all 0.3s ease-in-out;
}

.navbar-toggler-icon {
    background-image: url('/hamburger.svg');
}

.bg-dark {
    background: rgba(0, 0, 0, 0.8) !important;
}

.fixed-top1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.user-box-add input,
select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 5px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: #fff;
    transition: all 1s ease;
}

.user-box-add input:focus,
select:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.modal-header,
.modal-footer,
.modal-content {
    border: none;
}

.modal-content {
    padding: 2%;
    border-radius: 20px;
}

.modal-header {
    padding-bottom: 0;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}

.roomt {
    padding: 3%;
}

.roomt:hover,
.roomt:focus {
    background-color: #4286f41f;
    transition: all 1s ease;
    border-radius: 7px;
}

.text-muted {
    font-size: 1.1em;
}

#search {
    border-width: 0px;
    width: 100%;
    color: #212121;
    padding-left: 20px;
    padding-right: 0px;
    height: 40px;
    font-size: 14px;
    background-color: transparent;
    outline: none;
}

#search::placeholder {
    color: #484848;
}

.search-container {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: #e0dddd;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.search-container:hover {
    background: #4286f45d;
    transition: all 0.5s ease;
}

.search-container>svg {
    height: 24px;
    min-width: 70px;
    align-self: center;
    color: #212121;
}


#mobile {
    display: block;
}

#desktop {
    display: none;
}

@media (min-width:770px) {

    #mobile {
        display: none;
    }

    #desktop {
        display: block;
    }
}

.btn {
    border-radius: 50px;
    transition: all 1s ease;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.btn {
    padding-left: 5%;
    padding-right: 5%;
}

.circle-png {
    border-radius: 50% !important;
}

.form-control {
    padding: 1%;
    margin: 1%;
    border: none !important;
    border-bottom: 1px solid #212121 !important;
    border-radius: 0px !important;
}

input {
    padding: 5px;
    
}